// Home Page
main#home {

    /* ============================================ */
    /*                 Landing                      */
    /* ============================================ */
    #landing {
        height: 730px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-gray);
        position: relative;

        @media (min-width: 768px) {
            min-height: 900px;
        }

        @media only screen and (max-width: 47.975em) {
            font-size: .9em;
            /* mintab 480w */
        }

        @media only screen and (min-width: 48em) {
            font-size: 1.7vw;
            /* mintab 480w */
        }

        @media only screen and (min-width: 64em) {
            font-size: inherit;
            min-height: calc(1000/20) * 1em;
        }

        .content {
            color: white;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            max-width: 800px;
            // margin-top: 45%;
            margin: auto 0;
            padding: .5em;

            h1 {
                font-size: 2.2em;
                margin-bottom: .5em;
                line-height: 1.1;
                color: #fff;

                &::after {
                    content: '';
                    width: 2em;
                    background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 87%, var(--accent-color) 87%);
                    height: 4px;
                    margin: .2em auto .2em;
                    display: flex;
                    flex-direction: column;
                }
            }

            p {
                margin-bottom: .5em;
                font-size: 1em;
                line-height: 1.5;
                color: #fff;
            }

            .btns {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                a {
                    box-shadow: none;
                }


                a:nth-child(1) {

                    background-color: var(--accent-color);
                    position: relative;
                    overflow: hidden;
                    color: white;
                    transition: all .8s;

                    &:hover {
                        transition: all .8s;
                        color: black;
                        background-color: white;
                    }
                }
            }
        }

        picture {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            background-color: black;
            opacity: 60%;
        }
    }

    /* ============================================ */
    /*                3 Services                    */
    /* ============================================ */
    #mini-services {
        display: block;
        position: relative;


        @media only screen and (max-width: 47.975em) {
            font-size: 1em;
            /* mintab 480w */
        }

        @media only screen and (min-width: 48em) {
            font-size: 1.9vw;
            margin-top: -5em;
            /* mintab 480w */
        }

        @media only screen and (min-width: 64em) {
            font-size: inherit;
            width: 60em;
            margin-left: auto;
            margin-right: auto;
        }


        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            background-color: white;
            box-shadow: var(--box-shadow);
            padding: 2em 1em;
            border-radius: .1em;

            @media only screen and (min-width: 768px) {
                flex-direction: row;
                width: 98%;
            }

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: .5em 0em;
                margin-bottom: 1em;

                @media only screen and (max-width: 47.975em) {
                    &:nth-last-of-type(1) {
                        margin: 0;
                    }
                }

                @media only screen and (min-width: 48em) {
                    max-width: 16.25em;
                }


                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--accent-color);
                    border-radius: 50%;
                    padding: 1em;
                    margin-bottom: .5em;

                    img {
                        width: 2.5em;
                        height: 2.5em;
                        filter: invert(1);
                    }
                }

                h2 {
                    margin-bottom: .4em;
                    font-size: 1.5em;
                }

                p {
                    font-size: .95em;
                }
            }
        }
    }

    /* ============================================ */
    /*                Main Services                 */
    /* ============================================ */
    .main-slider {
        position: relative;
        width: 100%;
        max-width: calc(1200/20)*1em;
        margin: auto;
        margin-bottom: -20em;

        @media only screen and (max-width: 47.975em) {
            font-size: 1.6vw;
            /* mintab 480w */
        }

        @media only screen and (min-width: 48em) {
            font-size: 1.6vw;
            /* mintab 480w */
            margin-bottom: -11em;
        }

        @media only screen and (min-width: 64em) {
            font-size: inherit;
            /* custom opt-out 979oo */
        }


        .swiper-main {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            position: relative;
            margin: auto;
            width: 100%;
            max-width: calc(1200/20)*1em;


            .swiper-wrapper {
                display: flex;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    z-index: 1;

                    img {
                        box-shadow: var(--box-shadow);
                        width: calc(1200/20)*1em;
                        height: calc(800/20)*1em;
                        pointer-events: none;
                    }
                }
            }

            .swiper-scrollbar {
                height: 1px;

                .swiper-scrollbar-drag {
                    background-color: white;
                }
            }
        }
    }

    #services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 3em 1em;
        background-color: #eaefe4;
        padding-top: 15em;

        #cta {
            margin: 1em auto 0;

        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 60em;
            margin: auto;
            flex-direction: column;
            margin-bottom: 5em;

            @media only screen and (min-width: 768px) {
                flex-direction: row;
            }

            h2 {
                font-size: 2em;
                text-align: center;

                &::after {
                    content: '';
                    width: 2em;
                    background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 87%, var(--accent-color) 87%);
                    height: 4px;
                    margin: .5em auto 2em;
                    display: flex;
                    flex-direction: column;
                    pointer-events: none;
                }
            }

            p {
                width: 100%;
                max-width: 30em;
            }

            @media only screen and (min-width: 768px) {


                h2 {
                    text-align: left;

                    &::after {
                        margin-left: 0;
                        margin-bottom: 0;
                    }
                }

                p {
                    text-align: left;
                }
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            // 1300px
            max-width: calc(1200/20)*1em;
            margin: auto;

            @media only screen and (min-width: 900px) {
                gap: 1em;
            }

            .item {
                width: 100%;
                max-width: 18em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 0 1em 0;
                border-radius: .2em;
                transition: all .33s;
                text-align: center;
                background-color: white;
                position: relative;
                overflow: hidden;
                z-index: 2;

                .head {
                    width: 100%;
                    height: 10em;
                    position: relative;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }

                .abs {
                    position: absolute;
                    top: calc(-60/20)*1em;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--accent-color);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: calc(10/20)*1em solid white;
                    width: calc(120/20)*1em;
                    height: calc(120/20)*1em;
                    transition: all .33s ease;

                    img {
                        width: 2.5em;
                        height: 2.5em;
                    }
                }

                &:hover {
                    .body {
                        .abs {
                            border-color: #56c65c;
                        }
                    }
                }

                .body {
                    position: relative;
                    padding: 4em 1em 1em 1em;
                }

                h3 {
                    margin-bottom: .5em;
                }

                a {
                    margin-left: 0;
                    color: var(--accent-color);
                    text-transform: uppercase;
                    font-size: .9em;
                    text-decoration: none;
                    position: relative;

                    &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: var(--accent-color);
                        width: 0;
                        transition: width .33s;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                p {
                    margin-bottom: 1em;
                    font-size: .9em;
                }
            }
        }
    }

    /* ============================================ */
    /*               Portfolio                      */
    /* ============================================ */

    #portfolio {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3em .5em;
        background-color: #eaefe4;

        @media only screen and (max-width: 47.975em) {
            font-size: 3.2vw;
            /* mintab 480w */
        }

        @media only screen and (min-width: 48em) {
            font-size: 1.2vw;
            /* mintab 480w */
        }

        @media only screen and (min-width: 64em) {
            font-size: inherit;
            /* custom opt-out 979oo */
            padding: 4em 0;
        }

        .header {

            h2 {
                font-size: 2em;
                text-align: center;

                &::after {
                    content: '';
                    width: 2em;
                    background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 87%, var(--accent-color) 87%);
                    height: 4px;
                    margin: .5em auto 2em;
                    display: flex;
                    flex-direction: column;
                    pointer-events: none;
                }
            }
        }

        .grid {
            display: flex;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width: 47.975em) {
                flex-direction: column;
            }

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: calc(500/20)*1em;
                max-width: calc(500/20)*1em;
                height: calc(500/20)*1em;



                .item {
                    width: calc(230/20)*1em;
                    height: calc(230/20)*1em;
                    position: relative;
                    margin: .5em;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, .1);
                        z-index: 1;
                        transition: background-color .33s ease;
                    }

                    // &:hover {
                    //     &::before {
                    //         background-color: rgba(0, 0, 0, .5);
                    //     }
                    // }
                }

                &.mid {
                    @media only screen and (max-width: 47.975em) {
                        display: none;
                    }

                    .item {
                        margin: 0 .5em;
                        width: 100%;
                        height: 100%;

                        &::before {
                            background-color: rgba(0, 0, 0, .3);
                        }

                        &:hover {
                            p {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        z-index: 5;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: white;
                            width: 0;
                            transition: width .33s ease;
                        }
                    }
                }
            }
        }
    }

    /* ============================================ */
    /*               Why Choose Us?                 */
    /* ============================================ */
    #why {
        display: block;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: calc(1300/20) * 1em;
            margin: auto;
            padding: 3em 1em;
            position: relative;
            z-index: 2;

            @media only screen and (min-width: 64em) {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding: 5em 0;

                // large tree
                &::before {
                    content: '';
                    width: calc(500/20) * 1em;
                    height: calc(700/20) * 1em;
                    position: absolute;
                    background: url(/home/tree-small.png) center / cover no-repeat;
                    bottom: 3em;
                    right: -12em;
                    z-index: 2;
                }
            }

            h2 {
                font-size: 2em;
                text-align: center;

                @media only screen and (min-width: 64em) {
                    text-align: left;
                }

                &::after {
                    content: '';
                    width: 2em;
                    background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 87%, var(--accent-color) 87%);
                    height: 4px;
                    margin: .5em auto 1em;
                    display: flex;
                    flex-direction: column;

                    @media only screen and (min-width: 64em) {
                        margin-left: 0;
                    }
                }
            }

            p {
                margin-bottom: 3em;
                max-width: calc(550/20) * 1em;
                line-height: 1.5;
                text-align: center;

                @media only screen and (min-width: 64em) {
                    margin-bottom: 5em;
                    text-align: left;
                }
            }

            .items {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                @media only screen and (min-width: 64em) {
                    margin-bottom: 5em;
                    text-align: left;
                }

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 1em;
                    box-shadow: var(--box-shadow);
                    border-radius: .5em;
                    margin: 0 0 1em 0;
                    width: 100%;
                    text-align: center;
                    background-color: #fff;
                    transition: all .33s;

                    @media only screen and (min-width: 768px) {
                        max-width: calc(286/20) * 1em;
                        margin: 0 1em;
                    }

                    @media only screen and (min-width: 64em) {
                        margin: 0 1em 0 0;
                    }

                    .circle {
                        width: calc(100/20) * 1em;
                        height: calc(100/20) * 1em;
                        background-color: var(--accent-color);
                        border-radius: 50%;
                        margin-bottom: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: calc(60/20) * 1em;
                            height: auto;
                        }
                    }

                    h3 {
                        margin-bottom: .5em;
                        font-size: 1.3em;
                    }

                    p {
                        margin: 0;
                        text-align: center;
                    }

                    &:hover {
                        transform: translateY(-1em);
                    }
                }
            }

            .decor {
                position: absolute;
                width: calc(500/20) * 1em;
                height: calc(749/20) * 1em;
                right: 0;
                top: 3em;
                z-index: -1;
                display: none;
                box-shadow: var(--box-shadow);

                @media only screen and (min-width: 64em) {
                    display: block;
                }
            }
        }
    }


}