 #test {
     padding: 2em 1em 13em 1em;
     background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
         url(/img10m.webp) center / cover;

     .container {
         display: grid;
         grid-template-columns: 1fr;
         grid-gap: 1em;

         .item {
             color: white;
         }

         h2 {
             color: white;

             span {
                 font-weight: bold;
                 font-size: 2em;
                 margin-right: 0.1em;
             }
         }

         p {
             line-height: 1.5;
             color: rgba(256, 256, 256, .8);
             font-weight: 400;
         }
     }
 }

 #why-over {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 90%;
     margin: auto;
     margin-top: calc(-175/20)*1em;
     background-color: white;
     box-shadow: var(--box-shadow);
     max-width: calc(700/20)*1em;
     overflow: hidden;
     margin-bottom: 5em;


     .text {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 2em;
         text-align: center;
         width: 100%;
         position: relative;

         h2 {
             font-size: 1.5em;
             margin-bottom: 0.1em;

             &::after {
                 content: '';
                 width: 2em;
                 background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 87%, var(--accent-color) 87%);
                 height: 4px;
                 margin: .5em auto 0.2em;
                 display: flex;
                 flex-direction: column;
             }
         }

         a.btn {
             margin: 0;
         }

         .swiper-container {
             margin: 1em 0 2em;
             // height: 375px;
             width: 100%;
             max-width: calc(400/20*1em);
             position: relative;
             display: flex;
             // justify-content: center;
             // align-items: center;
             overflow: hidden;

             & .swiper-wrapper {
                 display: flex;
                 position: relative;

                 .swiper-slide {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;
                     position: relative;

                     .swiper-content {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-direction: column;
                         padding: 0em 2em 1em;

                         .stars {
                             display: flex;
                             margin-bottom: 1em;

                             svg {
                                 margin-right: 0.2em;
                                 width: 1.5em;
                                 height: 1.5em;

                             }
                         }

                         p {
                             line-height: 1.5;
                             padding-bottom: 1em;
                             max-width: calc(500/20)*1em;
                             font-size: .9em;
                             font-weight: 300;
                         }

                         .info {
                             display: flex;
                             justify-content: space-between;
                             align-items: center;
                             padding-top: 1em;
                             width: 100%;
                             max-width: 300px;

                             img {
                                 width: 3em;
                                 height: 3em;
                             }

                             &>div {
                                 display: flex;
                                 justify-content: center;
                                 align-items: flex-start;
                                 flex-direction: column;

                                 h4 {
                                     font-weight: bold;
                                     margin-bottom: 0.4em;
                                 }

                                 p {
                                     padding: 0;
                                     font-weight: lighter;
                                 }
                             }
                         }
                     }
                 }
             }
         }

         .swiper-next-custom {
             position: absolute;
             top: 50%;
             right: 1em;
             background-color: var(--accent-color);
             z-index: 10;
             cursor: pointer;
             display: flex;
             justify-content: center;
             align-items: center;
             padding: var(--padding-sm);
             overflow: hidden;
             border-radius: 50%;
             padding: .5em;
             transition: background-color .33s ease;

             img {
                 width: .6em;
                 height: .6em;
                 filter: invert(1);
             }

             &:hover {
                 background-color: black;
             }
         }

         .swiper-prev-custom {
             padding: .5em;
             top: 50%;
             left: 1em;
             background-color: var(--accent-color);
             z-index: 10;
             display: flex;
             justify-content: center;
             align-items: center;
             cursor: pointer;
             position: absolute;
             overflow: hidden;
             border-radius: 50%;
             transition: background-color .33s ease;

             img {
                 width: .6em;
                 height: .6em;
                 filter: invert(1);
             }

             &:hover {
                 background-color: black;
             }
         }
     }


     .img-container {
         position: relative;
         height: 100%;
         display: none;

         img {
             position: absolute;
             left: 0;
             right: 0;
             width: 100%;
             height: 100%;
             object-fit: cover;
         }
     }
 }

 @media only screen and (min-width: 900px) {
     #test {
         background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
             url(/img10.jpg) center / cover;
         padding: 4em 1em 12em 1em;

         .container {
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-gap: 1em;
             margin: auto;
             max-width: calc(1200/20)*1em;

             .item {}

             h2 {
                 span {}
             }

             p {}
         }
     }

     #why-over {
         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;
         place-items: center;
         width: 90%;
         margin-top: calc(-200/20)*1em;
         max-width: calc(900/20)*1em;

         .text {
             padding: 3em 1em;

             span {}

             h2 {}

             p {}

             a {}
         }

         .img-container {
             display: block;
             position: relative;
             height: 100%;
             width: 100%;

             img {}

         }
     }
 }

 @media only screen and (min-width: 1200px) {
     #test {
         background-attachment: fixed;
     }
 }